body {
    margin: 0;
    height: 100vh;
    font-family: "Roboto Flex", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #999;
}

nav {
    max-height: 72px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 6px #bbb;
    flex-grow: 1;
}

nav ul {
    margin: 0;
    padding: 9px 5vw;
    flex: auto;
    display: flex;
    gap: 12px;
    justify-content: left;
    align-items: center;
}

nav ul li {
    margin: 0;
    list-style-type: none;
    color: #999;
    font-size: medium;
}

.logo {
    font-size: x-large;
    font-variation-settings: "wght" 100;
}

.push-right {
    margin-left: auto;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 20;
}

.footer {
    height: 60px;
    background-color: #666;
    margin-top: auto;
}